//Frontend

frontend/node_modules
frontend/.package-lock
frontend/.config
frontend/coverage
frontend/.env
frontend/.reportWebVitals
frontend/.setupTests
frontend/.reportWebVitals
frontend/images

//Backend

backend/node_modules
backend/.package-lock.json
backend/.env
backend/.babelrc
backend/.config
backend/.package-lock
backend/.globalConfig.json
backend/uploads
backend/coverage
frontend\coverage