//Frontend

frontend/node_modules
frontend/package-lock.json
frontend/config.js
frontend/coverage
frontend/.env
frontend/reportWebVitals.js
# frontend/setupTests.js

//Backend

backend/node_modules
backend/.env
.babelrc
Procfile
bacnkend/package-lock.json