@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #5b7fb1;
  outline: 1px solid slategrey;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
.m-1 {
  margin: 1rem;
}
/* Select anchor tags */
.link {
  text-decoration: none;
  color: #6184c4;
  &:visited {
    color: #6184c4;
  }
}

/* Alert */

.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #323232;
  background-color: #e5e5e5;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

.pwd-container {
  position: relative;
  width: 295px;
}

.pwd-container img {
  // border: 1px solid red;
  cursor: pointer;
  position: relative;
  width: 20px;
  left: 130px;
  bottom: 30px;
}

/* Cart Badge */
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Proceed to Checkout */

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

/* StepsUI Component */

.steps-ui {
  display: flex;
  flex-direction: row;

  div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
  }
}
.steps-ui {
  div.active {
    border-top-color: #f62d01;
    color: #f62d01;
  }
}

/* Error Page */
.errorGif {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* dropdown */
.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 8em;
    padding: 1rem;
    z-index: 1;
    background-color: #323232;
    list-style-type: none;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;

    .link {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Signin Page */

.form {
  // border: 1px solid black;
  // background-color: #eeebeb;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.5),
    0px 1px 1px 0px rgba(0, 0, 0, 1), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 30vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .form-container {
    // border: 1px solid blue;
    height: auto;
    width: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    .form-heading {
      // border: 1px solid green;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 3rem;
        height: 3rem;
      }

      span {
        margin-left: 1rem;
        font-weight: bold;
      }
    }

    .alert-box {
      // border: 1px solid purple;
      width: 20vw;
      height: auto;
      margin-top: 2.5rem;
    }

    .form-fields {
      // border: 1px solid red;
      width: 20vw;

      li {
        list-style-type: none;
        margin: 0.5rem 0;
        margin-top: 20px;
      }

      label {
        font-weight: 600;

        .link {
          font-size: 0.8rem;
          font-weight: 400;
          align-self: flex-end;
        }
      }

      input {
        width: 100%;
        height: 2.3rem;
        border-radius: 3px;
        border: none;
        box-shadow: 1px 2px 1px -1px #6084c4, 0px 1px 1px 0px #6084c4,
          0px 1px 3px 0px #6084c4;
        margin-top: 10px;
      }

      h3,
      label,
      input {
        // border: 1px solid purple;
        display: flex;
        justify-content: space-between;
      }

      button {
        width: 60%;
        height: 2rem;
        border: none;
        color: white;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 3px;
        margin-top: 1rem;
      }

      button.primary {
        background-color: #6184c4;
      }
      button:hover {
        background-color: #a4bff1;
      }
      input:focus {
        outline: none;
        border: 1px solid #6184c4;
      }
    }
  }
}

/* Laptop */
@media (min-width: 1250px) and (max-width: 1400px) {
  .form {
    width: 50vw;
    height: auto;

    .form-container {
      // border: 1px solid blue;
      height: 55vh;
      width: 40vw;

      .form-fields {
        // border: 1px solid red;
        width: 100%;

        input {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet */
@media (min-width: 416px) and (max-width: 1024px) {
  .form {
    width: 60vw;
    height: auto;

    .form-container {
      // border: 1px solid blue;
      height: 55vh;
      width: 50vw;

      .form-fields {
        // border: 1px solid red;
        width: 100%;

        input {
          width: 100%;
        }
      }
    }
  }

  /* Profile Page */
  .profile-container {
    // border: 1px solid red;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    .sidebar {
      // border: 1px solid blue;
      width: 90vw;
      height: 5rem;
      flex-direction: row;
      justify-content: space-between;
    }

    .main {
      // border: 1px solid purple;
      padding: 2rem;
      margin-bottom: 2rem;
      width: 90vw;
      height: auto;
    }
  }
}

/* Mobile */
@media (min-width: 200px) and (max-width: 415px) {
  // Signin and register
  .form {
    width: 80vw;
    height: auto;

    .form-container {
      // border: 1px solid blue;
      height: 55vh;
      width: 70vw;

      .form-fields {
        // border: 1px solid red;
        width: 100%;

        input {
          width: 100%;
        }
      }
    }
  }

  /* Profile Page */
  .profile-container {
    // border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    .sidebar {
      // border: 1px solid blue;
      width: 90vw;
      flex-direction: row;
      justify-content: space-between;
      // margin-bottom: 2rem;
      height: 5rem;
    }

    .main {
      // border: 1px solid purple;
      padding: 2rem;
      margin-bottom: 2rem;
      width: 90vw;
      height: auto;
    }
  }
}

// Artwork Image
.art img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}