/* Profile Page */

.profile-container {
    // border: 4px solid red;
    // width: 100%;
    // height: 100%;
    min-height: 90vh;
    display: flex;

    .sidebar {
        // border: 1px solid blue;
        background-color: #323232;
        height: auto;
        width: 25vw;

        .heading {
            // border: 1px solid purple;
            display: flex;
            img {
                margin: 1.5rem;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            .user-name {
                // border: 1px solid purple;
                width: 100%;
                color: ivory;
            }
        }

        .description {
            // border: 1px solid purple;
            color: ivory;
            padding: 0 .8rem 0 .8rem;
        }

        .sidebar-links {
            // border: 3px solid rgb(63, 5, 61);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // height: 85%;

            
            .ul {
                // border: 1px solid rgb(25, 111, 89);
                list-style: none;
                padding: 1.5rem 0;
                // margin-top: 2rem;

                .li {
                    // background-color: #5E80BB;
                    // padding-left: .5rem;
                    width: 90%;
                    margin-top: 1rem;
                    height: 4rem;
                    border-radius: 8px;
                    display: flex;
                
                    .link {
                        // border: 1px solid pink;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        text-decoration: none;
                        color: whitesmoke;
                        height: 100%;
                        width: 100%;
                        font-size: 18px;
                        margin-left: 1.5rem;
                    }

                    .selected {
                        background-color: #5E80BB;
                        border-radius: 8px;
                    }

                    .selected::after {
                        content: '';
                        border: solid ivory;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }
                }
            }

            .sidebar-footer {
                background-color: #b2b2bb13;
                border-radius: 3px;
                width: 80%;
                margin-bottom: 1rem;
                align-self: center;

                p {
                    margin: 10px;
                    color: ivory;
                }
            }   
        }
    }

    main {
        // border: 3px solid rgb(225, 11, 111);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-form {
            box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.5),0px 1px 1px 0px rgba(0,0,0,1.0),0px 1px 3px 0px rgba(0,0,0,0.12);
            background-color: #fff;
            display: flex;
            width: 60vw;
            margin-top: 2rem;

            .form-container {
                // border: 1px solid blue;
                width: 100%;
                padding: 1rem;
                
                .form-heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    button {
                        margin-top: 1rem;
                        margin-right: 1rem;
                        background-color: #6184c4;
                        border: none;
                        border-radius: 3px;
                        color: #fff;
                        height: 1.7rem;
                        font-size: 12px;
                    }
        
                    button:hover {
                        background-color: #6c8cc9e9;
                    }
                }
        
                .form-fields {
                    // border: 1px solid red;
                    width: 100%;

                    li {
                        // border: 1px solid blue;
                        list-style-type: none;
                        margin: 0.5rem 0;
                    }
        
                    label {
                        font-weight: 600;
        
                    .link {
                        font-size: 0.8rem;
                        font-weight: 400;
                        align-self: flex-end;
                        }
                    }
        
                    input {
                        width: 100%;
                        height: 2.3rem;
                        border-radius: 3px;
                        border: 1px solid rgb(126, 126, 126);
                        margin-top: 5px;
                    }
        
                    h3,
                    label,
                    input {
                        display: flex;
                        // border: 1px solid purple;
                        justify-content: space-between;
                    }
        
                    button {
                        width: 100%;
                        height: 2rem;
                        border: none;
                        color: white;
                        font-weight: 600;
                        letter-spacing: 1px;
                        border-radius: 3px;
                        margin-top: 1rem;
                    }
        
                    button.primary {
                        background-color: #6184c4;
                    }
                    button:hover {
                        background-color: #a4bff1;
                    }
                    input:focus {
                        outline: none;
                        border: 1px solid #6184c4;
                    }
                }
            }
        }
    }
}


.modal {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .modal-content {
        position: relative;
        width: 50vw;
        height: 70vh;
        background-color: #fff;
        color: black;
    
        .upload-form {
            // border: 1px solid red;
            label {
                margin-left: 1rem;
                border-bottom: 2px solid blue;
            }
            label:hover {
                color: grey;
            }
        }
    
        .modal-header {
            padding: 10px;
            h4 {
                margin: 0;
            }
        }
    
        .modal-body {
            position: relative;
            // border: 1px solid blue;
            height: 50vh;
            padding: 10px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }
    
        .modal-footer {
            padding: 10px;
            // border: 1px solid blue;
            height: 12vh;
            background-color: #fff;
    
            .controls {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .slider {
                    width: 50%;
                }
            }
    
            button {
                margin-top: 1rem;
                margin-right: 1rem;
                background-color: #6184c4;
                border: none;
                border-radius: 3px;
                color: #fff;
                height: 1.7rem;
                font-size: 12px;
            }
    
            button:hover {
                background-color: #6184c4e9;
            }
    
            span {
                color: grey;
                font-size: 11px;
            }
        }
    }
}
